<div class="panel panel-default">
  
  <div class="panel-heading">
    <h2>Edycja profilu</h2>
  </div>
  
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, placeholder: 'twój@email.com', autofocus: true, class: 'form-control' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Oczekujemy potwierdzenia dla: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <%= f.label :password, "Hasło" %> <i>(pozostaw puste, jeżeli nie chcesz go zmieniać)</i><br />
      <%= f.password_field :password, placeholder: 'wprowadź nowe hasło lub pozostaw puste, jeżeli nie chcesz go zmieniać', autocomplete: "off", class: 'form-control' %>
      <% if @minimum_password_length %>
      <br />
      <em>minimum <%= @minimum_password_length %> znaków</em>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Powtórz hasło" %><br />
      <%= f.password_field :password_confirmation, placeholder: 'wprowadź hasło ponownie', autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :current_password, "Bieżące hasło" %> <i>(potrzebne do zatwierdzenia zmian)</i><br />
      <%= f.password_field :current_password, placeholder: 'wprowadź bieżące hasło', autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit "Zmień", class: 'btn btn-default' %>
    </div>
    <% end %>
  </div>
  
  <div class="panel-heading">
    <h3>Usuń konto</h3>
  </div>
  
  <div class="panel-body">
    <p>Nie jesteś zadowolony? <%= button_to "Usuń konto", registration_path(resource_name), data: { confirm: "Jesteś pewien?" }, method: :delete %></p>
  </div>

  <div class="panel-footer">
    <%= link_to "Wstecz", :back %>
  </div>

</div>