<div class="panel panel-default">
  
  <div class="panel-heading">
    <h2>Rejestracja</h2>
  </div>
  
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, placeholder: 'twój@email.com', autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password, "Hasło" %>
      <% if @minimum_password_length %>
      <em>(minimum <%= @minimum_password_length %> znaków)</em>
      <% end %><br />
      <%= f.password_field :password, placeholder: 'wprowadź swoje hasło', autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Potwierdź hasło" %><br />
      <%= f.password_field :password_confirmation, placeholder: 'wprowadź swoje hasło ponownie', autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= recaptcha_tags size: (browser.device.mobile? ? 'compact' : nil) %>
    </div>
    
    <div class="actions">
      <%= f.submit "Wyślij", class: 'btn btn-default' %>
    </div>
      
    <% end %>
  </div>

  <div class="panel-footer">
    <%= render "devise/shared/links" %>
  </div>

</div>