<div class="panel panel-default">
  
  <div class="panel-heading">
    <h2>Wysłanie instrukcji odblokowania konta</h2>
  </div>
  
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, placeholder: 'twój@email.com', autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= recaptcha_tags size: (browser.device.mobile? ? 'compact' : nil) %>
    </div>
    
    <div class="actions">
      <%= f.submit "Wyślij instrukcję", class: 'btn btn-default' %>
    </div>
      
    <% end %>
  </div>
  
  <div class="panel-footer">
    <%= render "devise/shared/links" %>
  </div>

</div>