<div class="panel panel-default">
  
  <div class="panel-heading">
    <h2>Zmiana hasła</h2>
  </div>
  
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    
    <%= f.hidden_field :reset_password_token %>

    <div class="form-group">
      <%= f.label :password, "Nowe hasło" %><br />
      <% if @minimum_password_length %>
        <em>(minimum <%= @minimum_password_length %> znaków)</em><br />
      <% end %>
      <%= f.password_field :password, placeholder: 'wprowadź nowe hasło', autofocus: true, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Potwierdź hasło" %><br />
      <%= f.password_field :password_confirmation, placeholder: 'wprowadź nowe hasło ponownie', autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit "Zmień hasło", class: 'btn btn-default' %>
    </div>
    <% end %>

  </div>
  
  <div class="panel-footer">
    <%= render "devise/shared/links" %>
  </div>

</div>