<footer class="footer">
    <div class="container">
        <p class="text-muted">Uniwersytet Mikołaja Kopernika, Wydział Fizyki, Astronomii i Informatyki Stosowanej.<br />
        Autor: Mariusz Konstanty. Opiekun: dr Łukasz Pepłowski. Wszystkie prawa zastrzeżone.</p>
    </div>
</footer>