<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to "SCI-CRAWLER", root_path, { :class=>"navbar-brand" }  %>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#"><%= user_signed_in? ? current_user.email : 'niezalogowany' %></a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to '<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>'.html_safe, root_path %></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<% if user_signed_in? %>
							<li><%= link_to 'Wylogowanie', destroy_user_session_path, method: :delete %></li>
							<li><%= link_to 'Edycja profilu', edit_user_registration_path %></li>
						<% else %>
							<li><%= link_to 'Logowanie', new_user_session_path %></li>
							<li><%= link_to 'Rejestracja', new_user_registration_path %></li>
						<% end %>
					</ul>
				</li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>