<p>Witaj, <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Kontaktujemy się, by powiadomić Cię, że Twój email został zmieniony na <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Kontaktujemy się, by powiadomić Cie, że Twój email został zmieniony na <%= @resource.email %>.</p>
<% end %>
