<!DOCTYPE html>
<html>
<head>
  <title>Sci-crawler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
  
  <%= render 'home/header' %>
  
  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: 'alert alert-info', role: 'alert') %>
    <% end %>
    <%= devise_error_messages! %>

    <div class="jumbotron">
      <%= yield %>
    </div>
  </div>
  
  <%= render 'home/footer' %>
  
</body>
</html>
